* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

main {
    overflow: auto;
}

/* --- Top Navbar --- */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 80px;
    /* background-color: aqua; */
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    
    font-size: 15px;
    width: 25%;
    /* background-color: aliceblue; */
}

nav ul li:hover {
    font-weight: bold;
}

nav ul li a {
    /* background-color: aliceblue; */
    text-decoration: none;
}

nav ul li a button {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 4px;
    font-weight: normal;
}

nav ul li a button:hover {
    background-color: white;
    color: black;
    border: 1px solid lightslategray;
}

/* --- Content --- */
#main-content {
    height: 700px;
    background-image: url("../img/heros.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    padding: 40px 0;
    text-align: center;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-content h1 {
    font-size: 48px;
    line-height: 1.4;
    font-family: var(--Poppins);
    font-weight: 800;
    color: white;
}

#main-content p {
    padding: 20px 0;
    opacity: 0.8;
    font-weight: 400;
    color: white;
}

#main-content .button-item {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    height: 48px;

    /* background-color: aqua; */
}

#main-content .button-item .cta-talk button {
    padding: 8px 20px;
    font-size: 15px;
    border-radius: 4px;
    color: white;
    background: none;
    cursor: pointer;
    border: 1px solid white;
}

#main-content .button-item img {
    height: 28px;
}

#main-content .button-item .cta-talk button:hover {
    color: black;
    font-weight: bold;
    background: white;
    border: 2px solid lightslategray;
}


#quotes {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 50px 0;
    color: lightgray;
}

.second-content {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
}

article {
    float: left;
    width: 60%;

    /* background-color: antiquewhite; */
}

article .head-journey {
    display: flex;
    align-items: flex-end;
    padding: 32px 46px 32px 0;
    /* background-color: aliceblue; */
}

article .head-journey img {
    height: 200px;
    border-radius: 4px;
}

article .head-journey p {
    padding: 0 24px;
}

/* Aside */

aside {
    float: right;
    width: 40%;

    /* background-color: aliceblue; */
}

aside .container {
    display: flex;
    flex-direction: column;
}

aside .container .row-ed {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: antiquewhite; */
}

aside .container .row-ed h1 {
    color: lightgray;
}

aside .container .row-ed .row-col {
    /* background-color: aqua; */
    padding: 0 20px;
}

aside .container .row-ed .row-col .title {
    font-size: 16px;
    font-weight: 600;
}

aside .icons {
    height: 120px;
}
aside .con-row {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;

    padding-top: 20px;
    /* background-color: antiquewhite; */
}

aside .card {
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 4px;

    line-height: 18px;
    border: 1px solid rgb(224, 224, 224);
    padding: 8px 12px;
    margin-right: 12px;
}
aside .con-row h3 {
    font-size: 15px;
}
aside .con-row p {
    font-size: 13px;
    font-style: italic;
    color: gray;
}

aside .con-row .row-col {
    padding-left: 12px;
}

aside .con-row img {
    height: 36px;
    border-radius: 4px;
}

section {
    padding: 12px 50px 20px 0px;
}

section .col-journey {
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 9px 10px 7px -2px rgba(140,140,140,0.37);
-webkit-box-shadow: 9px 10px 7px -2px rgba(140,140,140,0.37);
-moz-box-shadow: 9px 10px 7px -2px rgba(140,140,140,0.37);
    border-radius: 8px;
    padding: 24px;
}

section img {
    width: 100%;
}

section .col-journey p {
    padding-top: 12px;
    font-size: 14px;
    line-height: 24px;
}

section .col-journey .btn-card {
    margin-top: 20px;
    font-size: 15px;
    border-radius: 4px;
    width: 100%;
    padding: 8px 0px;
    border: none;
    cursor: pointer;
}

section .col-journey .btn-card a {
    list-style: none;
    text-decoration: none;
}

section .col-journey .btn-card:hover {
    font-weight: normal;
    color: white;
    background-color: black;
    /* border: 2px solid gray; */
}

hr {
    opacity: .3;
}

/* --- Footer --- */
footer {
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    color: white;
    height: 50px;
    line-height: 50px;
    background-color: black;
}


/* responsive */
/*
    rules :
    phone <= 600px
    tablets <= 768px
    laptops <= 992px
    large <= 1200px
*/
@media screen and (max-width: 1366px) {
    nav ul {
        width: 35%;
    }

    #main-content {
        background-size: 100%;
        height: 500px;
    }

    #main-content h1 {
        font-size: 28px;
    }

    article .head-journey img {
        height: 150px;
        border-radius: 4px;
    }

    article .head-journey p {
        font-size: 14px;
    }

    aside .icons {
        height: 90px;
    }

    aside .container .row-ed .row-col .title {
        font-size: 14px;
        font-weight: 600;
    }

    aside {
        /* background-color: aliceblue; */
        width: 40%;
    }

    aside .con-row h3 {
        font-size: 14px;
    }
    aside .con-row p {
        font-size: 12px;
    }
}


@media screen and (max-width: 992px) {
    nav ul {
        width: 50%;
    }

    #main-content {
        background-size: 100%;
        height: 300px;
    }

    #main-content h1 {
        font-size: 28px;
    }

    article .head-journey {
        flex-direction: column;
    }

    article .head-journey img {
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .second-content {
        margin: 0 auto;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }

    #main-content {
        background-size: 100%;
        height: 200px;
    }

    #main-content p {
        padding: 12px 0;
        font-size: 12px;
    }

    #main-content .button-item {
        width: 60%;
    }

    #main-content .button-item .cta-talk button {
        padding: 8px 20px;
        font-size: 15px;
        border-radius: 4px;
        color: white;
        background-color: black;
        cursor: pointer;
    }
}